{
    "presets": ["next/babel"],
    "plugins": [
      [
        "babel-plugin-styled-components",
        {
          "ssr": true,
          "namespace": "dashboard",
          "displayName": false,
          "preprocess": false,
          "fileName": false,
          "pure": true
        }
      ]
    ]
  }
  